In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import scanpy as sc

In [9]:
path = '/Users/Hesam_1/Library/CloudStorage/OneDrive-HanzehogeschoolGroningen/Semester2/MachineLearning/Data/filtered_gene_bc_matrices/hg19/'

pbmc_data = sc.read_10x_mtx(path)
# Initialize the AnnData object with the raw (non-normalized data).
pbmc = sc.AnnData(pbmc_data.X, obs=pbmc_data.obs, var=pbmc_data.var, obsm=pbmc_data.obsm, varm=pbmc_data.varm)
pbmc.obs_names = pbmc_data.obs_names
pbmc.var_names = pbmc_data.var_names
pbmc

AnnData object with n_obs × n_vars = 2700 × 32738
    var: 'gene_ids'

In [16]:
pbmc_data

AnnData object with n_obs × n_vars = 2700 × 32738
    var: 'gene_ids'

In [10]:
#preporcessing
sc.pp.filter_cells(pbmc, min_genes= 200)
sc.pp.filter_genes(pbmc, min_cells= 3)

In [4]:
pbmc

AnnData object with n_obs × n_vars = 2700 × 32738
    var: 'gene_ids'

In [12]:
pbmc.obs

                  n_genes
AAACATACAACCAC-1      781
AAACATTGAGCTAC-1     1352
AAACATTGATCAGC-1     1131
AAACCGTGCTTCCG-1      960
AAACCGTGTATGCG-1      522
...                   ...
TTTCGAACTCTCAT-1     1155
TTTCTACTGAGGCA-1     1227
TTTCTACTTCCTCG-1      622
TTTGCATGAGAGGC-1      454
TTTGCATGCCTCAC-1      724

[2700 rows x 1 columns]

In [14]:
pbmc.var

                      gene_ids  n_cells
AL627309.1     ENSG00000237683        9
AP006222.2     ENSG00000228463        3
RP11-206L10.2  ENSG00000228327        5
RP11-206L10.9  ENSG00000237491        3
LINC00115      ENSG00000225880       18
...                        ...      ...
AC145212.1     ENSG00000215750       16
AL592183.1     ENSG00000220023      323
AL354822.1     ENSG00000215615        8
PNRC2-1        ENSG00000215700      110
SRSF10-1       ENSG00000215699       69

[13714 rows x 2 columns]

In [ ]:
pbmc.var['mt'] = pbmc.var_names.str.startswith('MT')